#frm_principal{
    
background-color: rgba(20, 20, 20,240);
border-top-right-radius:40px;
border-bottom-right-radius:5px;
}

*{
color:white;
background:transparent;
border:none;
}

#btn_agree,#btn_dont_agree{
    background-color: rgba(0, 0, 0,200);
border-radius:15px;
padding:8px;
}

#btn_agree:hover,#btn_dont_agree:hover{
    background-color: rgba(45,45,45,200);
}


#frm_image{
border-bottom-left-radius:40px;
border-top-left-radius:5px;
    background-color: rgb(8, 8, 8);
}

QLineEdit{
border-bottom:2px solid white;
}

QPlainTextEdit{
border:1px solid white;
border-radius:10px;
padding:2px;
}

QScrollArea#txt_terms_and_conditions{
background-color:transparent;
}
QScrollBar:vertical {
    background: transparent;
    width: 7px;
    border-radius: 4px;
}
QScrollBar:handle:vertical {
    background: rgb(83, 83, 83);
    border-radius: 3px;
}